In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [3]:
driver.get('https://www.amazon.in/ASUS-VivoBook-Integrated-Graphics-M415DA-EK322TS/product-reviews/B09DX9ML9D/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [4]:
Review=[]
Rating=[]
start=0
end=5
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [5]:
Ratings=[item.split('.',1)[0] for item in Rating]

In [6]:
df=pd.DataFrame({'Review':Review,'Rating':Ratings})
df

                                               Review Rating
0   (After using for more than a month) Not satisf...      4
1                                         Good laptop      4
2   It is my first laptop so i can not touch much ...      4
3   Even if we watch video for 720p for 30 minutes...      3
4   The laptop is good at 30,000 price. finally go...      4
5   You can buy this laptop for gaming gta 5 : 40+...      4
6   Overall laptop is best in 31000 rs but Amazon ...      4
7   Likes:\n1. Excellent boot up time with new NVM...      4
8   It is good for work and stock market especiall...      3
9   Screen quality is not ok and speed is very slo...      4
10  I can't install Windows 11 what's the problem ...      3
11  Fairly fast, boot up speed is really fast, app...      4
12  Tested for the following and they are all work...      5
13  I like this if you are going to purchase a new...      4
14  Camera quality not good , also soud quality is...      3
15   I love this laptop very much it is flat and l...      5
16  I liked the compact and light weight design an...      4
17  This laptop is actually good. It's fast due to...      3
18  At this price point, this is one of the best l...      5
19  Screen quality somewhat okay but sound quality...      3
20  Display is poor.. its like white powdered scre...      3
21  Super sleek. Light weight. Very handy laptop. ...      4
22  Hi all this is an good laptop but I didn't rec...      3
23                                         Play Video      5
24  Didn't get Warranty card with this product!!\n...      3
25                                     Price is great      4
26                                                         5
27                    Best Laptop for 31K Go for it..      5
28  Camera is worst and the laptop started hanging...      3
29                                     Processor skow      3
30  I bought this on 5/Dec/2021. Been a laptop use...      1
31  Low sound average display & not get SD card po...      2
32      Good Battery not perfect battery leek problem      5
33      Received the product ordered. Very satisfied!      5
34  Received used product. scratches on body. and ...      2
35  After 8 months the laptop showing its technica...      1
36                                      Superb laptop      5
37     Light weight, my laptop got updated window 11.      5
38              Very well designed budget work laptop      5
39             screen quality is very low blurry view      1
40  HDD install kit ( connector and HDD bay rubber...      5
41  It's fantastic. I am so happy with it, really ...      5
42  the laptop did"t boot and when tried many solu...      1
43  Very light weight and good to work in CAD soft...      5
44  Not buy this product because many issues in my...      1
45  Its audio is not working properly and has issu...      1
46  Compact size is very good.... Good Display\nLo...      5
47        Compact, lightweight and fast... Go for it.      5
48                            Nice and so fast to use      5
49                        ASUS never disappointed me.      5

# Gadget = OnePlus Nord CE 2 Lite 5G

In [7]:
driver.get('https://www.amazon.in/OnePlus-Nord-Lite-128GB-Storage/product-reviews/B09WQYFLRX/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [8]:
Review1=[]
Rating1=[]
start=0
end=100
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review1.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating1.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [9]:
Ratings1=[item.split('.',1)[0] for item in Rating1]

In [10]:
df1=pd.DataFrame({'Review':Review1,'Rating':Ratings1})
df1

                                                Review Rating
0    This is my first 1+ mobile but frankly this is...      4
1    after 4 months of usage, the mobile is very go...      4
2    I was searching a smartphone in 25-30k segment...      4
3    Bought in big billion day sale but towards the...      4
4    Overall a fine product to use but as per funct...      4
..                                                 ...    ...
995                                               Nice      5
996  Overall, it's a good phone. Sometimes it takes...      4
997  Battary Life is good, display is ok, finger pr...      3
998  Camera is not good so I think don't buy this p...      3
999  This is the best smartphone that I have ever o...      5

[1000 rows x 2 columns]

In [11]:
df1.shape

(1000, 2)

# Gadget = OnePlus Nord CE 2 Lite 5G (Black Dusk, 6GB RAM, 128GB Storage)

In [16]:
driver.get('https://www.amazon.in/OnePlus-Nord-Black-128GB-Storage/product-reviews/B09WQY65HN/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [17]:
Review2=[]
Rating2=[]
start=0
end=30
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review2.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating2.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [18]:
Ratings2=[item.split('.',1)[0] for item in Rating2]

In [19]:
df2=pd.DataFrame({'Review':Review2,'Rating':Ratings2})
df2

                                                Review Rating
0    This is my first 1+ mobile but frankly this is...      4
1    after 4 months of usage, the mobile is very go...      4
2    I was searching a smartphone in 25-30k segment...      4
3    Bought in big billion day sale but towards the...      4
4    Overall a fine product to use but as per funct...      4
..                                                 ...    ...
295                                               Nice      4
296  Updated version is not available in this phone...      4
297  Plz improve camera quality and flash light. Ca...      4
298  Need to upgrade the battery life\n\nMobile is ...      4
299  Indisplay finger print is pretty good,camera i...      4

[300 rows x 2 columns]

In [20]:
df2.shape

(300, 2)

# gadget=Redmi Note 11T 5G (Stardust White, 6GB RAM, 128GB ROM)

In [21]:
driver.get('https://www.amazon.in/Redmi-Note-11T-5G-Dimensity/product-reviews/B09LHZSMRR/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [22]:
Review3=[]
Rating3=[]
start=0
end=100
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review3.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating3.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [23]:
Ratings3=[item.split('.',1)[0] for item in Rating3]

In [24]:
df3=pd.DataFrame({'Review':Review3,'Rating':Ratings3})
df3

                                                Review Rating
0    -Phone runs amazing with the dimensity 810 and...      4
1    1) fingerprint censor sucks, it's very annoyin...      4
2    If I am trying to set different font it is not...      4
3    I like the performance of this phone\nIt works...      4
4    All is very good\nbut Finger print sencer not ...      4
..                                                 ...    ...
995  Best 5G mobile for this price range, bettry ba...      4
996                                         Recomended      5
997             This is a phone with two day battery üîã      4
998                                  Bahut phone 15000      5
999                                               Best      5

[1000 rows x 2 columns]

In [25]:
df3.shape

(1000, 2)

# Gadget = ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD

In [27]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [28]:
driver.get('https://www.amazon.in/ASUS-15-6-inch-Integrated-Transparent-X515MA-BR011W/product-reviews/B09SGGB687/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [29]:
Review4=[]
Rating4=[]
start=0
end=15
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review4.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating4.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [30]:
Ratings4=[item.split('.',1)[0] for item in Rating4]

In [32]:
df4=pd.DataFrame({'Review':Review4,'Rating':Ratings4})
df4

                                                Review Rating
0                                        Best in price      4
1    For home use and simple work, it is fine howev...      4
2                                          Fingerprint      4
3    Screen quality is substantially low, you could...      4
4                                  Nice products\nAsus      4
..                                                 ...    ...
145                                                         1
146                                               Poor      1
147                       It's processor is very slow.      1
148                                                         1
149  Their product is very fragile compared to othe...      1

[150 rows x 2 columns]

In [33]:
df4.shape

(150, 2)

# Gadget = (Renewed) Dell Latitude E5470 Intel Core i5 6th Gen.6200u Processor

In [34]:
driver.get('https://www.amazon.in/Renewed-Dell-Latitude-Laptop-E5470/product-reviews/B094CBQ32N/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [36]:
Review5=[]
Rating5=[]
start=0
end=20
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review5.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating5.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [37]:
Ratings5=[item.split('.',1)[0] for item in Rating5]

In [38]:
df5=pd.DataFrame({'Review':Review5,'Rating':Ratings5})
df5

                                                Review Rating
0    When I was looking to purchase a new laptop, i...      5
1                                     Not good quality      4
2                                   As good as new one      5
3    Apart from one of screws out of place which ha...      4
4    Speed is good, all keyboard keys are working. ...      4
..                                                 ...    ...
187  ‡§†‡•Ä‡§ï ‡§π‡•à ‡§¶‡•ã‡§∏‡•ç‡§§‡•ã‡§Ç 1-2 ‡§¶‡§ø‡§®‡•ã‡§Ç ‡§Æ‡•á‡§Ç ‡§Æ‡§∂‡•Ä‡§® ‡§ï‡•á ‡§¨‡§æ‡§∞‡•á ‡§Æ‡•á‡§Ç ...      1
188                                    Value for money      5
189                   Good price and better experience      5
190  Very good.\nIt is as good as new.\nBattery lif...      5
191      Play Video\n Good quality products thanks you      5

[192 rows x 2 columns]

In [39]:
df5.shape

(192, 2)

# Gadget = Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th Gen 15.6" (39.62cm)

In [40]:
driver.get('https://www.amazon.in/Lenovo-IdeaPad-Warranty-Platinum-81WQ00MQIN/product-reviews/B09YJ1Q16L/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [41]:
Review6=[]
Rating6=[]
start=0
end=5
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review6.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating6.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [42]:
Ratings6=[item.split('.',1)[0] for item in Rating6]

In [43]:
df6=pd.DataFrame({'Review':Review6,'Rating':Ratings6})
df6

                                               Review Rating
0   Basic usage like MS office , Browsing it's a g...      4
1                                            For kids      4
2                                 happy and loving it      4
3   How one can trust the purchase of goods as I p...      4
4   Everything is good but the display quality sho...      4
5   Disappointed as screen is not hd as mentioned ...      4
6   As the laptop has a limited 256GB total availa...      5
7                                             OK GOOD      4
8   Device is working properly,light weight,lookin...      4
9   Works ok but slow. Processor may not be ok for...      5
10  At features and price, this is a good laptop. ...      5
11  Play Video\n Laptop is good interms of speed b...      2
12  Play Video\n Pros:\n1.Good laptop within this ...      4
13                                       Very nice...      5
14  so far have purchase 2 pcs and willing to purc...      5
15                                      Nice laptop ü•∞      4
16  Good and nice laptop . good for students and o...      4
17  I am using this laptop from 3 months now.\nIt ...      5
18                               Ideal for daily use.      4
19                                               Good      5
20                                                         5
21  Im using this from last 2 months for coding.\n...      5
22  In this prize laptop good\nAnd this laptop goo...      5
23                                Very bad experience      2
24                                     I liked it all      5
25  very bad experience with laptop not even cant ...      1
26                                                         5
27  Every time i used it is always overheating it ...      2
28  ‡≤®‡≤æ‡≤µ‡≥Å ‡≤à ‡≤≤‡≥ç‡≤Ø‡≤æ‡≤™‡≥ç‡≤ü‡≤æ‡≤™‡≥ç ‡≤Ö‡≤®‡≥ç‡≤®‡≥Å ‡≤Ü‡≤®‡≥ç‡≤≤‡≥à‡≤®‡≥ç ‡≤∏‡≤∞‡≥ç‡≤µ‡≤ø‡≤∏‡≥ç ‡≤ó‡≤æ‡≤ó‡≤ø ‡≤â...      1
29                                      Great product      5
30  Play Video\n After BIOS update LAPTOP started ...      2
31  This is worst laptop I have ever seen in my li...      1
32                    Best leptop in this price range      5
33  Play Video\n When I on this, then after 5 minu...      1
34  The processor was old version. Battery life wa...      1
35                                                         1
36  Home beginners is the best carry easy light we...      5
37                                          It‚Äôs nice      5
38                                     Damage product      1
39   Lenovo laptop is not good by unather laptop l...      1
40                                              Suppp      5
41  Good product for all.my wife loved this produc...      4
42  The processor is weak, doesn‚Äôt fell like 8gb r...      1
43  Received laptop on 31st July but its charger d...      1
44  Play Video\n Device not working,repaired devic...      1
45                                     DVD player not      1
46   The CPU utilization is high most of the times...      1
47  Plz don't buy this product quantity and produc...      1
48                                           Not good      1
49                                                         5

In [44]:
df6.shape

(50, 2)

# Gadget = Canon PIXMA G3000 All-in-One WiFi Ink Tank Colour Printer with 2 Additional Black Ink Bottles

In [45]:
driver.get('https://www.amazon.in/Canon-G3000-Wireless-Colour-Printer/product-reviews/B01H25A1AE/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [46]:
Review7=[]
Rating7=[]
start=0
end=200
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review7.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating7.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [47]:
Ratings7=[item.split('.',1)[0] for item in Rating7]

In [48]:
df7=pd.DataFrame({'Review':Review7,'Rating':Ratings7})
df7

                                                 Review Rating
0     Well it compete with top brands of Epson & HP ...      4
1     After having frustrating experience with HP pr...      3
2     1. Time to get print,\nBlack and white - 5-6 s...      4
3                       Nice product..easy installation      4
4     I have bee using Canon PixmaG 300 since few ye...      5
...                                                 ...    ...
1995                                      Super printer      5
1996  Printing quality is good as per my homely requ...      5
1997                                            Awesome      5
1998  Very good printer for personal use as well as ...      5
1999       user experience is good so as print quality.      5

[2000 rows x 2 columns]

In [49]:
df7.shape

(2000, 2)

# Gadget = HP Deskjet 2331 Colour Printer

In [54]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [55]:
driver.get('https://www.amazon.in/HP-DeskJet-Inkjet-Colour-Printer/product-reviews/B08D9NDZ1Y/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [56]:
Review8=[]
Rating8=[]
start=0
end=250
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review8.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating8.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [57]:
Ratings8=[item.split('.',1)[0] for item in Rating8]

In [58]:
df8=pd.DataFrame({'Review':Review8,'Rating':Ratings8})
df8

                                                 Review Rating
0     CAUTION: hp ink catridges are infamous for ink...      4
1     Super printer but ink will get empty fast and ...      4
2     I'm using with mobile for printing only, and a...      4
3     Easy to install and use but less pages per car...      4
4     I dont know why HP has given such a Poor scan ...      3
...                                                 ...    ...
2495  I received my printer today. The Cartridges pa...      1
2496                        Good printing and scan copy      4
2497            Good printer with good printing quality      5
2498                                               Nice      4
2499                                       good product      5

[2500 rows x 2 columns]

In [59]:
df8.shape

(2500, 2)

# Gadget = Canon E4570 All-in-One Wi-Fi Ink Efficient Colour Printer

In [61]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [64]:
driver.get('https://www.amazon.in/Canon-E4570-Efficient-Printing-Compatible/product-reviews/B09F5Z694W/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [65]:
Review9=[]
Rating9=[]
start=0
end=85
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review9.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating9.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [66]:
Ratings9=[item.split('.',1)[0] for item in Rating9]

In [67]:
df9=pd.DataFrame({'Review':Review9,'Rating':Ratings9})
df9

                                                Review Rating
0    This printer is excellent in terms of function...      4
1    If you are purchasing it for your home use, do...      4
2    I bought this item in August 2022, and the del...      4
3    Add Light in LED Display for use in lightless ...      4
4    Cannon E4570.\nThis was launched as a successo...      4
..                                                 ...    ...
845  There is no option for zero rating, thats why ...      1
846  Printer is OK, but cartridge is so expensive p...      1
847            Porr poor only 10 print after ink empty      1
848  Don't buy it bcz refill ink process is more co...      1
849  Printing quality is not good..very poor\nI wan...      1

[850 rows x 2 columns]

In [72]:
driver.close()

In [69]:
df9.shape

(850, 2)

In [70]:
Final_df1=pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9], axis=0)
Final_df1.shape

(8092, 2)

In [71]:
Final_df1.to_csv('Ratings_final_df1.csv')

# Gadget = Sony INZONE H3, MDR-G300 Wired Gaming Headset

In [38]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [39]:
driver.get('https://www.amazon.in/Rockerz-370-Headphone-Bluetooth-Lightweight/product-reviews/B0856HNMR7/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [40]:
Review10=[]
Rating10=[]
start=0
end=150
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review10.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating10.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [41]:
Ratings10=[item.split('.',1)[0] for item in Rating10]

In [42]:
df10=pd.DataFrame({'Review':Review10,'Rating':Ratings10})
df10

                                                 Review Rating
0     You get what you pay for. The sound quality an...      4
1     Thing is good sound is awesome\nBut the qualit...      4
2     I received a product which is having scratches...      4
3     More than 1 Month used superb Battery Backup. ...      4
4                          Mic & Bass aren't t so good.      4
...                                                 ...    ...
1495  The headphone was good in terms of sound quali...      1
1496  Best option i would recommend you to try if yo...      5
1497               0 for comfort totally waste of money      1
1498  build quality is very bad this product afer 1 ...      2
1499   Product was good but after normal usage of on...      3

[1500 rows x 2 columns]

In [43]:
df10.shape

(1500, 2)

In [44]:
driver.close()

# Gadget = Noise Buds VS402 Truly Wireless in Ear Earbuds with 35-Hours of Playtime

In [45]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [46]:
driver.get('https://www.amazon.in/Noise-Wireless-Instacharge-Bluetooth-Breathing/product-reviews/B0B51CFSC3/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [47]:
Review11=[]
Rating11=[]
start=0
end=100
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review11.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating11.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [48]:
Ratings11=[item.split('.',1)[0] for item in Rating11]

In [49]:
df11=pd.DataFrame({'Review':Review11,'Rating':Ratings11})
df11

                                                Review Rating
0    It will be better if you add transperency mode...      4
1    Sound quality is good. Sometimes the person at...      4
2    I brought it because of good service they prov...      4
3    Too much bass but the rest is best as always ....      4
4    The sound quality and the performance includin...      4
..                                                 ...    ...
995  I have ordered for a replacement let's see. Hi...      1
996  Earbud's Bluetooth was not detected by any of ...      1
997  It doesn't function at all. First one didn't f...      1
998  I keep it them in almost 1 hour , my ears are ...      1
999  Bought this noise company earbud thinking it w...      1

[1000 rows x 2 columns]

In [50]:
df11.shape

(1000, 2)

In [51]:
driver.close()

# Gadget = BenQ GW2480 24-inch (60.5 cm) 1080p FHD Eye-Care Monitor

In [52]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [53]:
driver.get('https://www.amazon.in/BenQ-23-8-inch-Monitor-Built/product-reviews/B073NTCT4Q/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [54]:
Review12=[]
Rating12=[]
start=0
end=200
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review12.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating12.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [55]:
Ratings12=[item.split('.',1)[0] for item in Rating12]

In [56]:
df12=pd.DataFrame({'Review':Review12,'Rating':Ratings12})
df12

                                                 Review Rating
0     I bought it in the month of oct 22, i got deli...      4
1     Got this @11800\nOkay for the price I paid. I ...      4
2      Monitor is stylish on aesthetic terms. Perfor...      4
3                          Editing, gaming, office work      4
4     Speaker could have better. Build and picture q...      4
...                                                 ...    ...
1994  I bought this monitor specifically for its low...      5
1995                                I love this product      5
1996  Quality in terms of color, resolution and view...      5
1997  Perfect for longer hours of online work. This ...      5
1998                                          Very good      5

[1999 rows x 2 columns]

In [57]:
df12.shape

(1999, 2)

In [58]:
driver.close()

# Gadget = Samsung 24-inch(60.46cm) FHD Monitor

In [59]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [60]:
driver.get('https://www.amazon.in/Samsung-inch-Bezel-Flicker-Monitor-LF24T350FHWXXL/product-reviews/B08J82K4GX/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [61]:
Review13=[]
Rating13=[]
start=0
end=40
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review13.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating13.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [62]:
Ratings13=[item.split('.',1)[0] for item in Rating13]

In [63]:
df13=pd.DataFrame({'Review':Review13,'Rating':Ratings13})
df13

                                                Review Rating
0        Perfect monitor for editing and casual gaming      4
1    Came with the just the OEM package slapped wit...      4
2    Pros:\n1. Good display quality\n2. ??\nThat's ...      4
3    The monitor is a faulty one , Amazon sold me a...      4
4    It has a sleek design and it is interesting to...      4
..                                                 ...    ...
395  One of the pixel on the screen went black afte...      1
396  Good monitor but the major issue what I've fac...      2
397  I order this monitor for editing purpose.but t...      1
398  Received used product. Worst purchase experience.      1
399  I faced problem with blurry text. Not good for...      1

[400 rows x 2 columns]

In [64]:
df13.shape

(400, 2)

In [65]:
driver.close()

# Gadget = Noise Pulse Go Buzz Smart Watch with Smart Call & Advanced Bluetooth Tech

In [66]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [67]:
driver.get('https://www.amazon.in/Noise-Advanced-Bluetooth-Detection-Battery/product-reviews/B0B5LW5DFQ/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [68]:
Review14=[]
Rating14=[]
start=0
end=170
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review14.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating14.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [69]:
Ratings14=[item.split('.',1)[0] for item in Rating14]

In [70]:
df14=pd.DataFrame({'Review':Review14,'Rating':Ratings14})
df14

                                                 Review Rating
0     I m order this watch at 29 September 2022 but ...      4
1     The watch is great for the price. Most things ...      4
2     good one i got this 1399 ... i write this revi...      4
3     Giving review after a month:\nThe watch is wor...      4
4     I have tried BOAT and FIREBOLT also and found ...      4
...                                                 ...    ...
1695  Excellent smart Watch with thuis price range, ...      5
1696  It's a wonderful watch and it's battery backup...      5
1697  This watch is very good its touch response is ...      5
1698  It's working fine and there is no problem with...      5
1699  Product is very good, fit is good. After tryin...      5

[1700 rows x 2 columns]

In [71]:
df14.shape

(1700, 2)

In [72]:
driver.close()

In [82]:
Final_df2=pd.concat([df10,df11,df12,df13,df14], axis=0)
Final_df2.shape

(6599, 2)

In [83]:
Final_df2.to_csv('Ratings_final_df2.csv')

# Gadget = Fire-Boltt Phoenix Smart Watch with Bluetooth Calling 1.3",120+ Sports Modes

In [9]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [10]:
driver.get('https://www.amazon.in/Fire-Boltt-Phoenix-Bluetooth-Calling-Monitoring/product-reviews/B0B3RRWSF6/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [11]:
Review15=[]
Rating15=[]
start=0
end=150
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review15.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating15.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [12]:
Ratings15=[item.split('.',1)[0] for item in Rating15]

In [13]:
df15=pd.DataFrame({'Review':Review15,'Rating':Ratings15})
df15

                                                 Review Rating
0     this watch is soo good tht it can even track h...      4
1     The watch is extremely affordable as it just c...      4
2     You can not select extra apps except pre downl...      4
3     Defiantly value for money!\nIt is working fine...      4
4     To be perfect.... But a great experience indee...      4
...                                                 ...    ...
1495                              Good and nice product      4
1496                                     60 min- 80 min      4
1497                                       Must buy it.      4
1498    Best round dialer smart watch in very low price      4
1499      Nice watch and the function is really awesome      4

[1500 rows x 2 columns]

In [14]:
df15.shape

(1500, 2)

In [15]:
driver.close()

In [20]:
df15.to_csv('Ratings_final_df3.csv')

# Gadget = boAt Wave Call Smart Watch, Smart Talk with Advanced Dedicated Bluetooth Calling Chip

In [2]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [3]:
driver.get('https://www.amazon.in/boAt-Wave-Call-Dedicated-Multi-Sport/product-reviews/B0B5B6PQCT/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [4]:
Review16=[]
Rating16=[]
start=0
end=50
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review16.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating16.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [5]:
Ratings16=[item.split('.',1)[0] for item in Rating16]

In [6]:
df16=pd.DataFrame({'Review':Review16,'Rating':Ratings16})
df16

                                                Review Rating
0    [Update: Sept 29] boAt seems to have heard the...      4
1    Ok good call volume is good app is not working...      4
2    1st I feel difficult for setup and connecting ...      4
3    boat offer balance products though it is audio...      4
4    Average good, calls can be attended, notificat...      4
..                                                 ...    ...
495                                              ‡§Ö‡§ö‡•ç‡§õ‡§æ      5
496  Amazing features‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏èsound,calling,bright...      5
497  I purchased this for my brother on occasion of...      5
498  Fast delivered, And its quality is Amazing. Lo...      5
499  I use it for everyday use. The app is cool. I ...      5

[500 rows x 2 columns]

In [7]:
df16.shape

(500, 2)

# Gadget = Sony HDRCX405 9.2MP HD Handycam Camcorder with Free Carrying Case

In [31]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [8]:
driver.get('https://www.amazon.in/Sony-HDRCX405-Handycam-Camcorder-Carrying/product-reviews/B00R5LH9HO/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [9]:
Review17=[]
Rating17=[]
start=0
end=70
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review17.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating17.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [10]:
Ratings17=[item.split('.',1)[0] for item in Rating17]

In [11]:
df17=pd.DataFrame({'Review':Review17,'Rating':Ratings17})
df17

                                                Review Rating
0    After exchanging the product ,seller again has...      4
1    Useful for beginers but very basic model no ex...      4
2    Easy to use camcorder, we can easily carry thi...      4
3    Nice. But the plastic quality of this handycam...      4
4    The display screen of the camcorder is too sma...      3
..                                                 ...    ...
695                                    easy to operate      5
696                                          Excellent      5
697        Excellent camcorder. Great price!! Love it.      5
698  Memory cards lock up and will the camcorder wi...      1
699  No ways to stop recording other than stand by ...      1

[700 rows x 2 columns]

In [12]:
df17.shape

(700, 2)

In [37]:
driver.close()

# Gadget = Canon XA11 Professional Camcorder

In [38]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [13]:
driver.get('https://www.amazon.in/Canon-XA11-Professional-Camcorder/product-reviews/B0773Y4HTC/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [14]:
Review18=[]
Rating18=[]
start=0
end=6
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review18.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating18.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [15]:
Ratings18=[item.split('.',1)[0] for item in Rating18]

In [16]:
df18=pd.DataFrame({'Review':Review18,'Rating':Ratings18})
df18

                                               Review Rating
0   Genuine pride was sendt to me, in a very good ...      5
1   Canon XA11 is a very good camera, I don't thin...      5
2                                                          5
3                                        Good product      4
4   I don't know how to use it live stream on Face...      5
5   The Canon XA 11 is a brilliant camera, and has...      1
6   Excellent Video Camera, compact size makes it ...      5
7   I got it from a store in Guwahati at a lower p...      5
8       Canon xa11 camcorder price 70000 he in store.      1
9   C√°mara lleg√≥ completa y a tiempo. Todav√≠a no e...      5
10  I had worked as a videographer for over 30 yea...      5
11  Pour des vid√©o web. Pour moi, la qualit√© du so...      5
12  I‚Äôm a freelance reporter and I have to say thi...      5
13                                                         5
14  I love this camera. While I have used other br...      5
15  When held in hand (vertical positon), the LCD ...      2
16   I chose the Canon XA11, because it features t...      5
17  I purchased this camera in September of 2020 f...      3
18  I haven't used the camera much yet, but it see...      5
19   I love this camera!!! I know it doesn't have ...      5
20  Le mod√®le 4K a √©t√© r√©duit de 500$ Quelques moi...      4
21  I had done research before purchasing 2 of the...      5
22  Canon has done it again. This is a great Camco...      5
23  Is very excited to get this camcorder. Some fa...      3
24  Took forever to arrive. No thanks to Canadapos...      4
25  I've owned Sony equipment for my entire life.....      5
26  Camera has been install for a while now and wo...      5
27  I bought this camera for hunting videos. Great...      4
28  This camera has great quality. Works well in l...      5
29  Happy with the camera, you can;t beat japanese...      5
30  We really like this camera, just what we were ...      5
31  So far I love this camera. The picture quality...      5
32  I needed to be able to record directly from ou...      5
33  Still learning the camera. Used it twice. So f...      4
34  It's FANTASTIC camera for any small-medium siz...      5
35  So far so good, I am a little disappointed in ...      4
36  Perfect little run and gun camera. I do ENG, c...      5
37  Working very well, the video is clear and the ...      5
38  Great camcorder with a ton of features. easy t...      5
39                                  Beautiful product      5
40  Very good camera for the price. Does an excell...      5
41  Took our online livestream to a new\nLevel. Gr...      5
42  this camcorder is super cool and I particularl...      5
43            Looks good and operates like it should.      4
44  Another Canon product which is superior to its...      5
45  We are using these to film video podcast @ our...      5
46  Just took a once in a lifetime video of my gra...      5
47  This is a professional quality instrument that...      5
48  Perfect size - great features.\nAuto white bal...      5
49  The quality is so clear! Such a beast in a sma...      5
50  I love this camera, it‚Äôs easy to use!! Great p...      5
51  Just an awesome unit. It's compact with all th...      5
52                          My son loves this camera!      5
53  Para nuestra agencia de noticias fue una muy b...      5
54         c√°mara es perfecto para hacer documentales      5

In [17]:
df18.shape

(55, 2)

# Gadget = Canon EOS 200D II 24.1MP Digital SLR Camera + EF-S 18-55mm f4 is STM Lens (Black)

In [18]:
driver.get('https://www.amazon.in/Canon-EOS-200D-II-Digital/product-reviews/B07RJWB548/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [19]:
Review19=[]
Rating19=[]
start=0
end=30
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review19.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating19.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [20]:
Ratings19=[item.split('.',1)[0] for item in Rating19]

In [21]:
df19=pd.DataFrame({'Review':Review19,'Rating':Ratings19})
df19

                                                Review Rating
0                                   Good for beginners      4
1    Really good for the beginners to start there p...      4
2    This one is good for beginners. I captured man...      5
3                                             Good one      5
4    Overall Amazing performance.\nGreat for beginn...      4
..                                                 ...    ...
295  Charger is not working & both of 2 battery com...      1
296                                         No SD card      1
297      Very costly and delivered with only one lense      1
298  I was a nice camera and great photography and ...      5
299  Yeah üòÇ I'm happy but dilevery boy is so funny ...      3

[300 rows x 2 columns]

In [22]:
df19.shape

(300, 2)

# Gadget = Panasonic LUMIX G7 16.00 MP 4K Mirrorless Interchangeable Lens Camera Kit with 14-42 mm Lens (Black)

In [23]:
driver.get('https://www.amazon.in/Panasonic-DMC-G7KGW-K-Mirrorless-Camera-Black/product-reviews/B07JLXC5BR/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [24]:
Review20=[]
Rating20=[]
start=0
end=15
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review20.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating20.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [25]:
Ratings20=[item.split('.',1)[0] for item in Rating20]

In [26]:
df20=pd.DataFrame({'Review':Review20,'Rating':Ratings20})
df20

                                                Review Rating
0    Product is very good, this one is the best for...      5
1    The above-compressed Images were taken handhel...      4
2                                                           4
3    this camra is best for beginners. value for mo...      5
4    It's a best camera for the individuals who is ...      4
..                                                 ...    ...
141  G7 is the best at the entry level segment with...      4
142               Budget best 4k camera. Must buy this      5
143  Very good for beginners in videography and pho...      5
144  This is my dream ü•∞ DSLR NO MONEY\nThis is my d...      5
145       This is the perfect camera for videographers      5

[146 rows x 2 columns]

In [27]:
df20.shape

(146, 2)

# Gadget = Redmi 80 cm (32 inches) Android 11 Series HD Ready Smart LED TV | L32M6-RA/L32M7-RA (Black)

In [36]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [37]:
driver.get('https://www.amazon.in/Redmi-inches-Ready-L32M6-RA-Android/product-reviews/B09F9YQQ7B/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [38]:
Review21=[]
Rating21=[]
start=0
end=100
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review21.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating21.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [39]:
Ratings21=[item.split('.',1)[0] for item in Rating21]

In [40]:
df21=pd.DataFrame({'Review':Review21,'Rating':Ratings21})
df21

                                                Review Rating
0    Overall a good TV but majority of the apps tha...      4
1     I purchased this 32" Mi Tv on 25 July 2022 go...      4
2    If you want to purchase this Redmi tv. Go for ...      4
3     I purchased this redmitv after comparing with...      4
4    I am writing this after using for it for more ...      4
..                                                 ...    ...
995                                               Good      5
996  Nice picture and sound quality and quick deliv...      5
997                                         Nice aitem      5
998          It's bit slow when mirror my mobile to tv      5
999                           Worth buying this LED TV      4

[1000 rows x 2 columns]

In [41]:
df21.shape

(1000, 2)

In [42]:
driver.close()

# Gadget = Samsung 80 cm (32 Inches) Wondertainment Series HD Ready LED Smart TV

In [43]:
driver=webdriver.Chrome(r"C:\Users\91994\Desktop\DRiver\chromedriver.exe")

In [44]:
driver.get('https://www.amazon.in/Samsung-Inches-Wondertainment-UA32T4340BKXXL-Glossy/product-reviews/B09F6S8BT6/ref=cm_cr_dp_d_show_all_btm?ie=UTF8&reviewerType=all_reviews')

In [45]:
Review22=[]
Rating22=[]
start=0
end=150
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//span[@data-hook="review-body"]')
    for i in review:
        Review22.append(i.text)
    lst_of_ratings = driver.find_elements(By.CLASS_NAME, "review-rating")
    for value in lst_of_ratings[2:]:
        rating = value.get_attribute('textContent')
        Rating22.append(rating)
    driver.find_element(By.XPATH,".//*[contains(text(),'Next page')]").click()
    time.sleep(3)

In [46]:
Ratings22=[item.split('.',1)[0] for item in Rating22]

In [47]:
df22=pd.DataFrame({'Review':Review22,'Rating':Ratings22})
df22

                                                 Review Rating
0     Table stand top missing very disappoint in dis...      4
1                                           All is well      4
2     Everything about this tv is good but the sound...      4
3                                         Good smart tv      4
4                                 HDMI CABLE WAS DAMAGE      4
...                                                 ...    ...
1495                                               Good      3
1496                                 Very nice products      5
1497  SOUND SYSTEM WE OBSERVE AVAREGE ,PLEASE IMPROV...      5
1498                Very good quality sound and picture      5
1499              This product is worthy and an amazing      5

[1500 rows x 2 columns]

In [48]:
df22.shape

(1500, 2)

In [50]:
Final_df3=pd.concat([df16,df17,df18,df19,df20,df21,df22], axis=0)
Final_df3.shape

(4201, 2)

In [51]:
Final_df3.to_csv('Ratings_final_df4.csv')